body {
	font-family: Georgia, serif;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
    background-image: url("156120.jpg");
h1 {
	font-size: 32px;
    color: azure;
}
#footer {
	color: DarkSlateGray;
	font-size: 16px;
}
